.btn-login {
    width: 100%;
    padding: 05px 15px;
    border: none;
    border-radius: 25px;
    background-color: $azul-marinho;
    color: $branco;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
  }